---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -4
ColumnLimit: 105
Cpp11BracedListStyle: false
IndentWidth: 4
MaxEmptyLinesToKeep: 2
TabWidth: 4
PointerAlignment: Left
UseTab: ForIndentation

